<%- include("header") %> 

<h2>This is the about page</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi provident
  dolorum veniam incidunt fuga quas voluptatibus consequuntur modi nulla, quae
  aliquam, laboriosam enim. Laudantium, cum? Id nobis officiis in earum.
</p>
<%- include("footer") %> 